<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hostify1"
        tools:targetApi="31">
        <activity
            android:name=".custom_toast_success"
            android:exported="false" />
        <activity
            android:name=".Admin.detaila"
            android:exported="false" />
        <activity
            android:name=".Admin.crud"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Home"
            android:exported="false" />
        <activity
            android:name=".StarUp"
            android:exported="false" />
        <activity
            android:name=".Daftar_Login.Login"
            android:exported="false" />
        <activity
            android:name=".Daftar_Login.Daftar"
            android:exported="false" />
        <activity
            android:name=".detail"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".crud" />
    </application>

</manifest>